/*---------------------------------------------------------------------
-- file    : plammertse.css
-- purpose : Style sheet for homepage Piet Lammertse
-- note    : Inside CSS, the comment symbol is / * etc.
--             unlike HTML, where it is <!-- -->   
----------------------------------------------------------------------
-- history :
--     2025-11-21 new
----------------------------------------------------------------------*/

/* sans serif everywhere.              */
/* default font size seems top be 16px */
body {
  margin:  0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  /* don't do this, it shifts the navbar : */
  /* margin-left : 32px;                   */
}

/* line spacing and indent for headers     */
h2 {
  margin     : 6px 16px;
  margin-top : 16px;
}

h3, h4, h5, h6 {
  margin     : 4px 16px;
  margin-top : 16px;
}

/* paragraph : small vertical line distance,       */
/* larger left margin                              */
/* max. column width 800 gives some 108 letters    */
/* word wraps can be helped with soft hyphens &shy */
p {
  margin : 4px 32px;
  max-width : 800px;
}

/*<pre> larger fixed font (default 12, main text is 16 ) */
/* margin is absolute, inside <p> doesn't add up    */
pre {
  font-size : 15px;
  margin : 4px 64px;
}

/* TODO This gives a double outline, make this better
table {
  outline: thin solid;
}
*/

td {
  padding:4px 11px;
  outline: thin solid;
}

/* extra margin (vertical, horizontal) inside <p> for math */
math {
  margin: 4px 32px;
}

/* failed attempt to keep full size letters in fractions */
/* This has to be set by hand in HTML in every mfrac     */
/*
mfrac {
   displaystyle : true;
}
*/

/* Attempt to move math equations left */
block{
    float: left;
} 

img {
   display       : inline-block;
   margin-top    : 16px;
   margin-bottom : 16px;
/*
   margin-left   : 15%;
   width         : 600px;
   size          : auto;
*/
}

video {
   display       : inline-block;
   margin-top    : 16px;
   margin-bottom : 16px;
}

/* unordered lists (bullets, not numbered) */
ul {
  list-style-type: none;
  margin   : 0;
  padding  : 0;
  overflow : hidden;
/*  background-color: #38444d;  */      /* dark greyish blue */
  background-color: #404040;
}

/* list items, left aligned */
li {
  float: left;
}

/* format for anchors <a>..</> inside a list */
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*--------------*/
.dropbtn1 {
  background-color:blue;
}

/*----------------*/

li a:hover, .dropdown:hover .dropbtn {
/*  background-color: red;  made a bit darker : */
  background-color:#E00000;
}

/* format dropdown lists */
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display:  none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* format anchors inside dropdowns                      */
/* The first padding is vertical (like a line spacing), */
/* the second is horizontal (like a tab)                */
.dropdown-content a {
  color: black;
  padding: 4px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
   position: fixed;
   left   : 0;
   bottom : 0;
   width  : 100%;
   background-color: white;
   color      : black;
   text-align : right;
   padding    : 0 16px;
/*   padding    : 20px 16px 0px 0px;  This just puts the border up */
   box-sizing : border-box;
   border-top : 1px solid black;
}
